<section>
  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" (change)="filterNotes($event.value)">
  <mat-button-toggle value=false>Archived</mat-button-toggle>
  <mat-button-toggle value=true>Active</mat-button-toggle>
</mat-button-toggle-group></section>
<mat-divider></mat-divider>
<section>
  <button mat-raised-button color="primary" (click)="createEditNote()">Create Note</button>
</section>
<mat-divider></mat-divider>

<section class="example-section" [formGroup]="toppings">
  <h4>Select your tags:</h4>
  <p>
    <mat-checkbox
    *ngFor="let tag of allTags"
    formControlName="{{tag}}"
    (change)="onCheckbox()">
      {{tag}}
    </mat-checkbox>
  </p>
<!--  <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>-->
<!--  <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>-->
<!--  <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p>-->
</section>

<!--<section class="example-section" [formGroup]="toppings">-->
<!--  <h4>You chose:</h4>-->
<!--  {{toppings.value | json}}-->
<!--</section>-->

<mat-spinner diameter="200" class="my-2" style="margin: 0 auto" *ngIf="spinner"></mat-spinner>


<mat-grid-list cols="4" gutterSize="40px">
  <mat-grid-tile *ngFor="let note of filteredNotes" [colspan]="2" [rowspan]="1">
    <div class="note-card w-100 px-2 text-center">
      <h3 class="fw-bold">{{ note.title }}</h3>
      <p>{{ note.content }}</p>
<!--      <span *ngIf="note.isArchived">Archived</span>-->

      <!-- Display tags for the note -->
      <div class="tags">
        <mat-chip *ngFor="let tag of note.tags" color="primary">{{ tag.name }}</mat-chip>
      </div>


      <div class="container-fluid justify-content-between w-100">
        <!-- Display archive button for active notes -->
        <button mat-fab color="primary" *ngIf="!note.isArchived" (click)="toggleArchivedNote(note)" [matTooltip]="'archive'">
          <mat-icon>archive</mat-icon>
        </button>

        <!-- Display unarchive button for archived notes -->
        <button mat-fab color="primary" *ngIf="note.isArchived" (click)="toggleArchivedNote(note)" [matTooltip]="'active'">
          <mat-icon>unarchive</mat-icon>
        </button>
        <!-- Edit and Delete icons as clickable buttons -->
        <button mat-fab color="accent" (click)="editNote(note)" [matTooltip]="'edit'">
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="deleteNote(note)" [matTooltip]="'delete'">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>

    </div>
  </mat-grid-tile>
</mat-grid-list>
